<div id="div-reply-to-<%= instance.id %>" class="prepend-small">
  <% form_for Graffity.new, :url => url, :html => {:id => "form-reply-to-#{instance.id}", :class => "reply"} do |f| %>

      <div class="float_left avatar-tiny">
        <%= link_to icon_for_profile(current_user.profile, 'tiny', :title => current_user.profile.full_name), profile_path(current_user.profile) %>
      </div>
      <fieldset>
        <div class="fields">
          <%= f.label "comment_#{instance.id}", I18n.t("tog_wall.model.reply.comment.label"), :class => "hide" %>
          <%= f.text_area :comment, {:value => I18n.t("tog_wall.model.reply.comment.textarea"),
                                     :id => "graffity_comment_#{instance.id}", :rows=>2, :cols=>35, :class=>"reply hint"} -%>
        </div>
      </fieldset>

      <div class="actions">
        <%= text_field_tag "cancel", I18n.t('tog_wall.cancel'), {:type => "button", :id => "cancel_#{instance.id}",:class => "button cancel", :accesskey => "c"} %>
        <%= submit_tag I18n.t('tog_wall.views.member.replys.form.share_reply'), {:class => "button mainaction", :accesskey => "s"} %>
      </div>
  <% end %>
</div>

