<% include_stylesheet "/tog_wall/stylesheets/personalization.css" %>
<% include_javascript "/tog_wall/javascripts/lowpro.js" %>
<% include_javascript "/tog_wall/javascripts/jquery-1.4.1.min.js" %>
<% include_javascript "/tog_wall/javascripts/jquery.noconflict.js" %>
<% include_javascript "/tog_wall/javascripts/jquery.form.js" %>
<% include_javascript "/tog_wall/javascripts/jquery.wall.js" %>
<% include_javascript "/tog_wall/javascripts/jquery.placeholder.js" %>

<% if can?(:comment_at_wall, @wall) %>
    <%= render "member/graffities/form" %>
<% elsif !logged_in? %>
    <%= I18n.t("tog_wall.views.walls.show.should_be_logged_and_be_friend", :name => @owner.full_name) %>
<% else %>
    <%= I18n.t("tog_wall.views.walls.show.should_be_friend", :name => @owner.full_name) %>
<% end %>

<div id="graffities" class="portlet portletJ">
  <% if @graffities.blank? %>
      <%= I18n.t('tog_wall.views.walls.show.graffities.not_found') %>
  <% else %>
      <%= render :partial => "member/graffities/graffity", :collection => @graffities %>
  <% end -%>
</div>

<%= show_more_button(@graffities) %>

<script language="JavaScript" type="text/javascript">
    //<![CDATA
    document.observe("dom:loaded", function() {
        // Comportaminentos javascript para las respuestas
        Event.addBehavior({
            '#graffities > div[id^=graffity_]' : CollapsableReplys(<%= options_for_collapse_to_js %>)
        });
    });
    //]]>
</script>
